/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* border: 1px solid lime; */
}

html {
    font-family: sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

header {
    background-image: url('../img/jumbo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 100px;
    color: white;
}

/* utility class */
.container-measures {
    width: 75%;
    margin: 0 auto;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 30px;
}

header .menu {
    list-style-type: none;
    display: flex;
    gap: 40px;
}

/* utility class */
.button {
    border-radius: 25px;
    padding: 15px;
}

header nav > .button {
    color: black;
    background-color: white;
}

/* call to action */
#cta {
    width: 50%;
    margin: 100px auto 0 auto;
    text-align: center;
}

#cta h1 {
    font-size: 300%;
}

#cta p {
    line-height: 25px;
    font-size: 115%;
}

#cta h1, #cta p, #cta .main-buttons {
    margin-bottom: 40px;
}

#cta .main-buttons .button:first-child {
    color: black;
    background-color: white;
    margin-right: 20px;
}

#cta .main-buttons .button:first-child::before {
    content: '\2193';
    font-weight: bold;
}

#cta .main-buttons .button:last-child {
    color: white;
    background-color: black;
}

main section {
    padding-block: 10vh;
}

main section .img-text-container{
    display: flex;
}

section .section-image{
    flex-basis: 60%;
    margin-right: 10px;
}

section .section-image img{
    padding: 20px;
}

section .section-article{
    flex-basis: 40%;
    margin-left: 10px;
    padding: 40px 20px 0;
}

section .section-article h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

section .section-article p {
    line-height: 25px;
    padding: 5px;
}

#first, #third {
    background-color: white;
}

#second, #last {
    background-color: #f6f6f6;
}

#second figure {
    order: 1;
}

#last {
    text-align: center;
}

#last .container-measures .section-article, #last .container-measures .section-image {
    margin: 0;
}

#last .container-measures h3{
    margin: 0 0 20px 0;
    font-size: 160%;
    background-image: url('../img/stars.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    line-height: 50px;
}

#last .container-measures .button {
    color: white;
    background-color: #8fa1e1;
    display: inline-block;
    margin-block: 20px;
}

#last .container-measures .button::before {
    content: '\2193';
    font-weight: bold;
}

footer {
    background-color: #23272a;
    color: white;
    padding: 50px 0;
}

.container {
    margin: 30px auto;
    width: 75%;
}

.container .inner-container {
    display: flex;
    justify-content: space-between;
}

.inner-container .foot-header {
    max-width: 30%;
}

.inner-container .foot-header h3 {
    font-size: 30px;
    color: #8fa1e1;
}

.inner-container .foot-header .language {
    margin: 20px 0;
}

.foot-header .language > span::after {
    content: '\0002c5';
    font-size: 30px;
    color: white;
}


.foot-header .socials {
    display: flex;
    align-items: center;
    gap: 10px;
}

.foot-header .socials a.fa {
    width: 30px;
    border-radius: 50%;
    display: inline-block;
}

.foot-nav {
    margin: 0 auto;
    width: 50%;
}

.foot-nav > ul {
    display: flex;
    list-style-type: none;
    gap: 20%;
}

.foot-nav > ul > li > ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 10px;
    padding-top: 10px;
}

.foot-nav ul li > strong {
    color: #8fa1e1;
}

footer hr {
    margin: 20px 0;
    border: 1px solid #3161e0;
    background-color: #3161e0;
}

footer .inner-container a.button {
    color: white;
    background-color: #8fa1e1;
}

/*  EXERCISE COMPLETED  */